// Variables de style
$primary-color: #3498db;

body {
    font-family: Arial, sans-serif;
    color: $primary-color;
}

header {
    background-color: $primary-color;
    color: white;
    padding: 10px;
}
